.categorytree {
    > p {
        padding-left: 10px;
        text-transform: capitalize;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: -8px;
            transform: translateY(-50%);
            height: 1px;
            width: 15px;
            background-color: #ccc;
        }

        &.level-1.no-children::after,
        &.level-2::after {
            width: 30px;
            left: -23px;
        }
    }
}
